@font-face {
    font-family: "Francois One";
    src: url("../fonts/francois-one/FrancoisOne.ttf") format("woff");
  }
  @font-face {
    font-family: "Farro";
    src: url("../fonts/farro/Farro-Regular.ttf") format("woff");
  }