*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;

}
sub{
    font-family: 'farro';
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.04em;
    position: absolute;

}
.container {

    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}




h2 {
    font-family: 'Francois One';
    font-size: 36px;
    line-height: 48px;
    color: black;
    margin: 0 0 40px;
    position: relative;
}



p {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: black;
    margin-top: 40px;
    margin-bottom: 70px;
}


.header {
    padding: 26px 0 26px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.header .container {
    overflow: hidden;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    display: flex;  
}

.header .img-holder {
    display: flex;
}

.header .header-list {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.header .header-list ul {
    list-style-type: none;
    display: flex;
    font-family: 'Francois One';
    font-size: 16px;
    padding: 0;
}
.header .header-list ul li:first-child {
    margin-right: 20px;
}
.header .header-list ul li {
    margin-left: 10px;
}

.main .container {
    margin-top: 100px;
}

.hero-section .container h2 {
    width: 310px;
    height: 48px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    flex: none;
}

.hero-section .container sub {
    width: 100px;
    height: 20px;

    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.04em;

    color: #000000;
}

.container2 h2 {
    margin-top: 70px;
    margin-bottom: 40px;
}   
